<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="test site layout">
    <meta name="author" content="Alex">
    <meta name="keywords" content="meta tag describe metadata within an HTML document">
</head>
<body>
<div class="wrapper_narrow intro">
    <header>
        <div class="logo-social-block">
            <div class="inl-block logo">
                <span class="inl-block logo__img logo__inl-block"></span>
                <div class="inl-block logo__inl-block">
                    <div class="inl-block logo__name">build home</div>
                    <div class="inl-block logo__slogan">industrial theme</div>
                </div>
            </div>
            <div class="inl-block social-links">
                <span class="social-links__item social-links__item_facebook"><a href="#" class="link social-links__link"
                    ></a></span>
                <span class="social-links__item social-links__item_twitter"><a href="#" class="link social-links__link"></a></span>
                <span class="social-links__item social-links__item_rss"><a href="#" class="link social-links__link"
                    ></a></span>
                <span class="social-links__item social-links__item_linkedin"><a href="#" class="link social-links__link"
                    ></a></span>
                <span class="social-links__item social-links__item_skype"><a href="#" class="link social-links__link"
                    ></a></span>
            </div>
        </div>
        <nav class="wrapper">
            <div class="navbar">
                <div class="navbar_collapsed">
                    <div class="navbar__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="navbar__bar">
                        <li class="navbar__item"><a href="" class="link navbar__link navbar__link_active">home</a></li>
                        <li class="navbar__item"><a href="" class="link navbar__link">features</a></li>
                        <li class="navbar__item"><a href="" class="link navbar__link">services</a></li>
                        <li class="navbar__item"><a href="" class="link navbar__link">news</a></li>
                        <li class="navbar__item"><a href="" class="link navbar__link">shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="searchbar">
                <input class="searchbar__cont" type="text" placeholder="Search...">
            </div>
        </nav>
    </header>
    <div class="empty"></div>
    <section class="slider wrapper">
        <!--<h2 class="slider__txt">build your business</h2>-->
        <div class="slider__txt_box">
            <h2 class="slider__txt">BUILD</h2>
            <h2 class="slider__txt">YOUR</h2>
            <h2 class="slider__txt">BUSINESS</h2>
        </div>
        <img class="slider__photo" src="assets/images/slider-bg-1.jpg" alt="Factory photo">
        <div class="slider__content points">
            <div class="points__outer inl-block"></div>
            <div class="points__outer inl-block"></div>
            <div class="points__outer inl-block"></div>
        </div>
    </section>
    <div class="empty"></div>
    <section class="advantages grid-block">
        <article class="advantages-block grid-block_two-col">
            <p class="advantages-block__item advantages-block__numb">01</p>
            <div class="advantages-block__item advantages-block__image advantages-block__image_power"></div>
            <h3 class="advantages-block__item advantages-block__title">power inside</h3>
            <p class="advantages-block__item advantages-block__desc">Cum to popular belief, Lorem Ipsum is not simply
                random text.
                It has roots in a piece of classical Latin literature</p>
            <a href="#" class="advantages-block__item advantages-block__link">read more &nbsp;</a>
        </article>
        <article class="advantages-block grid-wrapper grid-block_two-col">
            <p class="advantages-block__item advantages-block__numb">02</p>
            <div class="advantages-block__item advantages-block__image advantages-block__image_tech"></div>
            <h3 class="advantages-block__item advantages-block__title">new technologies</h3>
            <p class="advantages-block__item advantages-block__desc">Contrary to popular belief, Lorem Ipsum is not
                simply random text.
                It has roots in a piece of classical Latin literature</p>
            <a href="#" class="advantages-block__item advantages-block__link">read more &nbsp;</a>
        </article>
        <article class="advantages-block grid-wrapper grid-block_two-col">
            <p class="advantages-block__item advantages-block__numb">03</p>
            <div class="advantages-block__item advantages-block__image advantages-block__image_support"></div>
            <h3 class="advantages-block__item advantages-block__title">fast Support</h3>
            <p class="advantages-block__item advantages-block__desc">Contrary to popular belief, Lorem Ipsum is not
                simply random text.
                It has roots in a piece of classical Latin literature</p>
            <a href="#" class="advantages-block__item advantages-block__link">read more &nbsp;</a>
        </article>
    </section>
</div>
<main class="wrapper">
    <div class="wrapper services">
        <section class="wrapper_narrow services__section">
            <h2 class="services__title">our services</h2>
            <div class="services__content">
                <article class="service-article wrapper">
                    <figure class="service-article__photo service-article__photo_1"></figure>
                    <h4 class="service-article__title">schedule services</h4>
                </article>
                <article class="service-article wrapper">
                    <figure class="service-article__photo service-article__photo_2"></figure>
                    <h4 class="service-article__title">preventive maintence</h4>
                </article>
                <article class="service-article wrapper">
                    <figure class="service-article__photo service-article__photo_3"></figure>
                    <h4 class="service-article__title">tire & wheel services</h4>
                </article>
                <article class="service-article wrapper">
                    <figure class="service-article__photo service-article__photo_4"></figure>
                    <h4 class="service-article__title">repair services</h4>
                </article>
            </div>
        </section>
    </div>
    <div class="wrapper news">
        <div class="wrapper_narrow news__section">
            <div class="news__content">
                <section class="news-article wrapper">
                    <h2 class="news-article__title">latest news</h2>
                    <article class="topic">
                        <div class="topic__image-box wrapper">
                            <div class="topic__event calendar">
                                <div class="calendar__month">jan</div>
                                <div class="calendar__data">23</div>
                            </div>
                            <img src="assets/images/drawing-accs.jpg" alt="Latest news image" class="topic__img">
                        </div>
                        <div class="topic__content wrapper">
                            <h4 class="topic__titles">
                                <a href="#" class="topic__link_main link">Advanced Machinery Helps Improve Quality</a>
                            </h4>
                            <p class="topic__info">
                                by <a href="#" class="topic__link">cmsmasters</a>
                                Comments (<a href="#" class="topic__link">6</a>)
                            </p>
                            <p class="topic__txt">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                has roots in a piece of classical Latin literature Contrary to popular belief, Lorem
                                Ipsum is not simply random text.</p>
                        </div>
                    </article>
                    <article class="topic">
                        <div class="topic__image-box wrapper">
                            <div class="topic__event calendar">
                                <div class="calendar__month">jan</div>
                                <div class="calendar__data">21</div>
                            </div>
                            <img src="assets/images/man-sky.jpg" alt="Banner image, worker" class="topic__img">
                        </div>
                        <div class="topic__content wrapper">
                            <h4 class="topic__titles">
                                <a href="#" class="topic__link_main link">Powerful Techniques for Advanced Service</a>
                            </h4>
                            <p class="topic__info">
                                by <a href="#" class="topic__link">cmsmasters</a>)
                                Comments (<a href="#" class="topic__link">3</a>)
                            </p>
                            <p class="topic__txt">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                has roots in a piece of classical Latin literature Contrary to popular belief, Lorem
                                Ipsum is not simply random text.</p>
                        </div>
                    </article>
                </section>
                <section class="news-article wrapper">
                    <h2 class="news-article__title">banners place</h2>
                    <section class="accordion">
                        <div class="panel wrapper">
                            <input type="checkbox" class="panel__checkbox">
                            <div class="panel__header wrapper">
                                <h4 class="panel__title">accordion panel 1</h4>
                            </div>
                            <div class="wrapper panel__txt-cont">
                                <p class="panel__txt">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not
                                    simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.</p>
                            </div>
                        </div>
                        <div class="panel wrapper">
                            <input type="checkbox" class="panel__checkbox">
                            <div class="panel__header wrapper">
                                <h4 class="panel__title">accordion panel 2</h4>
                            </div>
                            <div class="wrapper panel__txt-cont">
                                <p class="panel__txt">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not
                                    simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.</p>
                            </div>
                        </div>
                        <div class="panel wrapper">
                            <input type="checkbox" class="panel__checkbox">
                            <div class="panel__header wrapper">
                                <h4 class="panel__title">accordion panel 3</h4>
                            </div>
                            <div class="wrapper panel__txt-cont">
                                <p class="panel__txt">Contrary to popular belief, Lorem Ipsum is not simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not
                                    simply random text.
                                    It has roots in a piece of classical Latin literature Contrary to popular belief,
                                    Lorem Ipsum is not simply random text.</p>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="wrapper_narrow brands">
            <a href="#" class="link brands__link"><img src="assets/images/b_rbp_hover.jpg" alt="rbp brand"
                                                       class="brands__img"></a>
            <a href="#" class="link brands__link"><img src="assets/images/b_moto_hover.jpg" alt="moto metal brand"
                                                       class="brands__img"></a>
            <a href="#" class="link brands__link"><img src="assets/images/b_2crave_hover.jpg" alt="2 crave brand"
                                                       class="brands__img"></a>
            <a href="#" class="link brands__link"><img src="assets/images/b_atx_hover.jpg" alt="atx series brand"
                                                       class="brands__img"></a>
            <a href="#" class="link brands__link"><img src="assets/images/b_cruiser_hover.jpg"
                                                       alt="cruizer alloy brand" class="brands__img"></a>
            <a href="#" class="link brands__link"><img src="assets/images/b_gear_hover.jpg" alt="gear brand"
                                                       class="brands__img"></a>
        </div>
    </div>
</main>
<footer class="wrapper footer">
    <div class="footer_dark">
        <div class="wrapper_narrow info">
            <article class="wrapper info__item about">
                <h4 class="about__items about__title">socials</h4>
                <p class="about__items about__items_link"><a href="#" class="link about__link">facebook</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">flickr</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">twitter</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">vimeo</a></p>
            </article>
            <article class="wrapper info__item about">
                <h4 class="about__items about__title">links</h4>
                <p class="about__items about__items_link"><a href="#" class="link about__link">How to Write a Blog</a>
                </p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Create a Blog in 4
                        Steps</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">15 Tips to Increase
                        Traffic</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">20 Blog Post Ideas</a>
                </p>
            </article>
            <article class="wrapper info__item about">
                <h4 class="about__items about__title">blogroll</h4>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Blogs Blog</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Roll Up Roll Up</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Blog Free</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Wordpress Blog</a></p>
            </article>
            <article class="wrapper info__item about">
                <h4 class="about__items about__title">about us</h4>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Agriculture</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Harvest</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Company news</a></p>
                <p class="about__items about__items_link"><a href="#" class="link about__link">Investor relations</a>
                </p>
            </article>
        </div>
    </div>
    <div class="wrapper footer_gray contacts">
        <div class="wrapper_narrow contacts__content">
            <div class="contacts__box wrapper">
                <span class="contacts__item contacts__address">BuildHomeLtd. Street Name 123 23 45 Cityname</span>
                <a class="link contacts__item contacts__tel" href="tel:+123600123456">+123 900 123 456</a>
                <a class="link contacts__item contacts__email" href="mailto:info@buildhome.web">info@buildhome.web</a>
            </div>
            <div class="contacts__copyright">© 2014 Build Home</div>
        </div>
    </div>
</footer>
</body>
</html>
