
$icons: (
    sprite: (width: 403px, height: 421px, pngPath: '../img/sprites/sprite.png', svgPath: '../img/sprites/sprite.svg'),

    email: (width: 16px, height: 12px, backgroundX: 0px, backgroundY: 0px),
    f-logo: (width: 16px, height: 16px, backgroundX: -16px, backgroundY: -12px),
    f-logo_hover: (width: 16px, height: 16px, backgroundX: -32px, backgroundY: -28px),
    gear: (width: 32px, height: 32px, backgroundX: -48px, backgroundY: -44px),
    geo_loc: (width: 10px, height: 16px, backgroundX: -80px, backgroundY: -76px),
    l-in-logo: (width: 16px, height: 16px, backgroundX: -90px, backgroundY: -92px),
    l-in-logo_hover: (width: 16px, height: 16px, backgroundX: -106px, backgroundY: -108px),
    logo-bg: (width: 36px, height: 36px, backgroundX: -122px, backgroundY: -124px),
    params: (width: 32px, height: 32px, backgroundX: -158px, backgroundY: -160px),
    phone: (width: 10px, height: 16px, backgroundX: -190px, backgroundY: -192px),
    plus: (width: 35px, height: 35px, backgroundX: -200px, backgroundY: -208px),
    plus20_20: (width: 20px, height: 20px, backgroundX: -235px, backgroundY: -243px),
    rss: (width: 16px, height: 16px, backgroundX: -255px, backgroundY: -263px),
    rss_hover: (width: 16px, height: 16px, backgroundX: -271px, backgroundY: -279px),
    s-logo: (width: 16px, height: 16px, backgroundX: -287px, backgroundY: -295px),
    s-logo_hover: (width: 16px, height: 16px, backgroundX: -303px, backgroundY: -311px),
    search: (width: 20px, height: 30px, backgroundX: -319px, backgroundY: -327px),
    truck: (width: 32px, height: 32px, backgroundX: -339px, backgroundY: -357px),
    tw-logo: (width: 16px, height: 16px, backgroundX: -371px, backgroundY: -389px),
    tw-logo_hover: (width: 16px, height: 16px, backgroundX: -387px, backgroundY: -405px),

);
