@import 'mixins';

@include font-face("ubuntu m", "../fonts/ubuntu_m/ubuntu-m-webfont", ("eot", 'svg', 'ttf', 'woff', 'woff2'))
{
    font-style: normal;
    font-weight : 500;
}

@include font-face("ubuntu l", "../fonts/ubuntu_l/ubuntu-l-webfont", ("eot", 'svg', 'ttf', 'woff', 'woff2'))
{
    font-style: normal;
    font-weight : 400;
}

@include font-face("ubuntu c", "../fonts/ubuntu_c/ubuntu-c-webfont", ("eot", 'svg', 'ttf', 'woff', 'woff2'))
{
    font-style : normal;
    font-weight : 500;
}

html, body {
    font-family : 'ubuntu m', Arial, Helvetica, sans-serif;
    position : relative;
    width : 100%;
    z-index : -100;
    @include box-sizing(border-box);
}
// vertical-align: baseline, which is the default for most elements and indicates that that space should be reserved (add 3px height for <img>).
// Some of the other legal values for vertical-align also reserve this space, but top, text-top, middle,
// bottom and text-bottom do not.
img {
    vertical-align : text-bottom;
}
.link {
    display : block;
    text-decoration : none;
    @include transition('color', .2s, ease);
}
.wrapper {
    @extend body;
    height : auto;
}
.wrapper__box {
    @extend .wrapper;
    margin : 0 auto;
    width : 1160px;
    @include mq($until: custom1160) {
        width : 100%;
    }
}
.wrapper__logo {
    @extend .wrapper;
    height : 90px;
    padding : 37px 0 0 5px;
    z-index: 10;
    @include mq($until: smartphone) {
        padding : 37px 0 0 0;
    }
}
.logo {
    @extend .wrapper;
    width : 216px;
    height : 37px;
    line-height : 37px;
    float : left;
    @include mq($until: smartphone) {
        margin : 0 auto;
        float : none;
    }
}
.logo__bg {
    @include sprite(logo-bg);
    float : left;
    margin-right : 9px;
    @include mq($until: smartphone) {
        margin-top : 2px;
    }
}
.logo__h1 {
    margin : -2px 0 0 0;
    padding : 0;
    font-size : 30px;
}
.logo__fn {
    @extend .logo__h1;
    display : block;
    line-height : 26px;
}
.logo__ln {
    @extend .logo__h1;
    font-family : 'ubuntu l', Arial, Helvetica, sans-serif;
    font-size : 12px;
    display : block;
    line-height : 22px;
    letter-spacing: 3.5px;
}
.social {
    float : right;
    margin-top : 10px;
    width : 166px;
    @include mq($until: smartphone) {
        display : none;
    }
}
.social__link {
    height : 1em;
    width : 1em;
    @extend .link;
}
.social__item {
    margin-left : 14px;
}
.menu__main .menu__item_social {
    @include mq($from: smartphone) {
        display : none;
    }
}
.menu__main .social__item {
    @include mq($until: smartphone) {
        &:first-child {
            margin : 0 10px 0 0;
        }
        &:last-child {
            margin-left : 8px;
        }
    }
}
.social__item_facebook {
    @include social(f-logo, f-logo_hover);
}
.social__item_twitter {
    @include social(tw-logo, tw-logo_hover);
}
.social__item_rss {
    @include social(rss, rss_hover);
}
.social__item_linkedin {
    @include social(l-in-logo, l-in-logo_hover);
}
.social__item_skype {
    @include social(s-logo, s-logo_hover);
}
.menu__wrapper {
    @extend .wrapper__box;
    background-color : #2a2d32;
    height : 56px;
    margin-top: 20px;
    z-index : 101;
    @include clearfix();
}
.menu__main {
    @include transition(all 1s);  // drop-down menu
    float : left;
    margin : 0;
    max-height : 56px; // drop-down menu origin parameter
    overflow: hidden;    // highly important for CSS drop-down menu
    padding : 0;
    position : absolute; // highly important for CSS drop-down menu
    z-index : 100;
    @include mq($until: tablet){
        &:hover  {
            @include transition(all 1s);  // drop-down menu
            max-height : 550px;  // drop-down menu final parameter
        }
        &:hover .menu__item:not(.menu__item_social) {
            display : inherit;
            height : 56px;
            line-height : 56px;
            border-bottom : 1px solid #181a1d;
        }
    }
}
.menu__item {
    border-right : 1px solid #181a1d;
    display : inline-block;
    height : 56px;
    line-height : 56px;
    z-index : 101;
    @include box-sizing(border-box);
    &:first-child {
        background-color : #248cec;
    }
    @include mq($until: tablet){
        width : 103px;
        background-color : #2a2d32;
        text-align : center;
        display : block;
    }
}
.menu__link {
    @extend .link;
    font-family : 'ubuntu c', Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : #ffffff;
    padding : 0 38px;
    &:hover {
        color : #d9a412;
    }
    @include mq($until: tablet){
        padding : 0 25px;
    }
}
.menu__search {
    width : 224px;
    margin-right : 10px;
    float : right;
    position : absolute;
    right : 2px;
    top : 4px;
    @include box-sizing(border-box);
    @include mq($until: desktop){
        max-width : 150px;
    }
}
.menu__search_query {
    width : 100%;
    height : 36px;
    border : 1px solid #000000;
    background-color : #35383c;
    padding-left : 15px;
    color : #535659;
    &:focus {
        color : #ffffff;
    }
}
#menu__search_btn {
    width : 39px;
    height : 39px;
    position : absolute;
    right : -15px;
    top : 0;
    cursor : pointer;
    &::after {
        content : '';
        @include sprite(search);
        position : absolute;
        top: 6px;
        right: 8px;
    }
}

//slider
.slider {
    @extend .wrapper;
    margin-top : 40px;
}
.slider__slide {
    display : none;
}
.slider__slide img {
    width : 100%;
}
.slider__txt-box {
    max-width : 30%;
    letter-spacing: 3.5px;
    z-index : 1;
    position : absolute;
    padding: 22px 34px 22px 29px;
    line-height: 51px;
    bottom : 3.2vh;
    left : 2.5vw;
    &::before {
        content : '';
        background-color : rgba(26, 26, 26, .9);
        z-index : -1;
        position : absolute;
        top : 0;
        left : 0;
        height : 100%;
        width : 70%;
    }
    &::after {
        content : '';
        background-color : rgba(26, 26, 26, .9);
        z-index : -1;
        position : absolute;
        bottom : 0;
        right : 0;
        height: 46%;
        width: 30%;
    }
    @include mq($until: tablet){
        line-height: 30px;
        padding: 5px 9px 4px 14px;
        bottom : 2.5vh;
    }
}
.special .slider__txt-box {
    &::after {
        bottom : 25%;
    }
}
.slider__txt {
    margin : 0;
    @include font-family("ubuntu l", 50px);
    &:first-child{
        color : #f4b60d;
    }
    &:not(:first-child){
        color : #ffffff;
    }
    @include mq(smartphone, tablet){
        font-size : $uni-font-sz;
        bottom : 2.5vh;
    }
    @include mq($until: smartphone){
        font-size : $uni-font-sz;
        bottom : 2.5vh;
    }
}
.slider__points {
    width : 84px;
    margin : -34px auto 0 auto;
    z-index : 100;
}
.slider__point {
    width : 15px;
    height : 15px;
    @include box-shadow();
    background-color : #ffffff;
    display : inline-block;
    z-index : 100;
    &:not(:last-child){
        margin-right : 15px;
    }
}
.slider__point_act {
    display : none;
    width : 9px;
    height : 9px;
    background-color : #001d1d;
    margin : 3px;
}
//end slider

//Advants
.advants {
    height : 100%;
    @include clearfix();
}
.advants__article {
    @extend  .wrapper;
    margin-top : 82px;
    height : 100%;
    width : 31%;
    float : left;
    color : #2a2b2e;
    z-index : 1;
    &:not(:last-child) {
        margin-right :  3.4%;
    }
    @include mq($until: tablet){
        width : 100%;
    }
    @include mq($until: smartphone) {
        clear : both;
        float : none;
        margin-top : 3%;
    }
}
.advants__box {
    float : left;
}
.advants__numb {
    color : #e9e9ea;
    font-size : 90px;
    letter-spacing: -4.5px;
    line-height : 74px;
    width : 28%;
    @include mq($until: xga) {
        height : inherit;
    }
    @include mq($until: smartphone) {
        font-size : 1em;
        font-size : $uni-font-sz;;
        height : inherit;
        letter-spacing : 0;
        width : 10%;
        border-top : 1px dotted #2a2d32;
    }
}
.advants__context {
    padding-left : 19px;
    width : 66%;
    @include mq($until: smartphone) {
        font-size : 1em;
        font-size : $uni-font-sz;;
        width : 85%;
    }
}
.advants__context_1 {
    &::before {
        @include sprite(gear);
        content : '';
        margin-left : 4px;
        margin-top: 6px;
    }
}
.advants__context_2 {
    @extend .advants__context_1;
    &::before {
        @include sprite(params);
    }
}
.advants__context_3 {
    @extend .advants__context_1;
    &::before {
        @include sprite(truck);
    }
}
.advants__header {
    font-size : 20px;
    margin : 10px 0 10px 4px;
}
.advants__txt {
    @include font-family(Arial, 13px);
    line-height: 20px;
    margin-top: 20px;
}
.advants__arrow {
    color : #248cec;
    margin : 0 0 0 7px;
}
.advants__link {
    @include font-family('ubuntu m', 13px);
    color : #2a2b2e;
    line-height : 20px;
    margin-top : 14px;
    min-width : 95px;
    &:hover{
        color : #248cec;
    }
    &:hover .advants__arrow {
        color : #989fb3;
    }
}

//Services
.wrapper_services {
    @include mq($until: custom1160) {
        padding : 0 0 3.75% .15%;
    }
    @extend .wrapper;
    @include clearfix();
    background-color : #2a2d32;
    height : 100%;
    margin-top : 83px;
    padding : 0 0 52px 2px;
}
.services__header {
    @extend .wrapper;
    color : #fff;
    font-size : 24px;
    height : 123px;
    padding : 42px 0 0 1px;
    @include mq($until: tablet) {
        height : 73px;
    }
}
.services__header_name {
    @include mq($until: custom1160) {
        display : block;
        margin : auto;
        width : 140px;
    }
}
.services__box_wrapper {
    @extend .wrapper;
    @include clearfix();
    margin : 0 auto;
    @include mq(tablet, custom1160) {
        padding-left : 3.45%;
        width : 644px;
    }
    @include mq(smartphone, tablet) {
        padding-left : 3.45%;
        width : 83%;
    }
    @include mq($until: smartphone) {
        width : 100%;
    }
}
.services__box {
    float : left;
    font-size : 14px;
    margin-right : 3.4%;
    position : relative;
    text-align : center;
    @include mq(tablet, custom1160) {
        display : inline-block;
        float : none;
        margin : 2vh 1vw;
    }
    @include mq(smartphone, tablet) {
        display : inline-block;
        float : none;
        margin-top : 5vh;
    }
    @include mq($until: smartphone) {
        float : none;
        margin : 5vh auto;
    }
}
.services__box_last {
    @include mq($from: tablet) {
        margin-right : 0;
    }
}
.services__name_link {
    @extend .link;
    @include transition('color', .2s);
    color : #fff;
    font-size : 16px;
    margin-top : 31px;
    &:hover {
        color : #f4b60d;
    }
}
.services__img {
    @include mq($until: smartphone){
        height : 260px;
        margin : 0 auto;
        width : 260px;
    }
    @include mq(smartphone, tablet){
        height : 35vw;
        width : 35vw;
    }
}
.services__hover {
    @extend .services__img;
    line-height : 0;
    position : relative;
    &::before {
        background : none;
        content : '';
        z-index : 100;
    }
    &::after {
        @include transition('color', .1s);
        background : none;
        content : '';
    }
    &:hover {
        &::before {
            @include sprite(plus);
            content : '';
            left : 0;
            margin : calc(50% - 17px);
            position : absolute;
            top : 0;
            z-index : 100;
        }
        &::after {
            @include transition('color', .1s);
            background : rgba(36, 140, 236, .9);
            content : '';
            height : 100%;
            left : 0;
            position : absolute;
            top : 0;
            width : 100%;
        }
    }
}
// End services
//News
.wrapper-news {
    @extend .wrapper;
    @include  clearfix();
    background-color : #f7f7f7;
    padding-bottom: 57px;
    @include mq($until: tablet) {
        padding-bottom : 0;
    }
}
.wrapper-news__box {
    @extend .wrapper;
    @include mq(tablet, custom1160) {
        width : 59%;
    }
    @include mq($until: tablet) {
        padding : 3vw;
        width : 100%;
    }
    float : left;
    width : 51.7%;
}
.wrapper-news__header {
    color : #2a2d32;
    height: 92px;
    padding: 38px 0 0 1px;
    width : 100%;
    @include mq($until: tablet) {
        padding : 0;

    }
}
.news {
    @include mq(tablet, custom1160) {
        width : 100%;
    }
    @include mq($until: tablet) {
        width : 100%;
    }
    margin-bottom : 32px;
    position : relative;
    width : 599px;
}
.news__article {
    @include mq(tablet, custom1160) {
        width : 60%;
    }
    @include mq($until: tablet) {
        display : block;
        width : 100%;
    }
    display : inline-block;
    width : 66%;
}
.news__date_wrapper {
    @include mq($until: custom1160) {
        left : 0;
    }
    height : 80px;
    left : -17px;
    line-height : 40px;
    position : absolute;
    text-align : center;
    top : 12px;
    width : 40px;
}
.news__date {
    height : 40px;
    vertical-align : middle;
    width : 40px;
}
.news__img {
    @include mq(tablet, custom1160) {
        margin-right : 3%;
    }
    float : left;
    margin-right : 33px;
}
.news__article_name {
    font-size : 16px;
    margin : 4px 0;
}
.news__link {
    color : #2a2d32;
    display : inline;
    &:hover {
        color : #248cec;
    }
}
.news__link_txt {
    color : #248cec;
}
.news__txt {
    @include font-family(Arial, 13px);
    line-height : 20px;
    margin : 6px 0;
}
.news__date_month {
    background-color : #248cec;
}
.news__date_date {
    background-color : #f4b60d;
}
.news__article_txt {
    margin : 20px 0;
}
.news__2_name {
    margin-top : 0;
}

//Banners
.banners {
    @extend .wrapper;
    width : 48.2%;
    @include mq($until: custom1160) {
        width : 40%;
    }
    @include mq($until: tablet) {
        width : 100%;
        padding : 3vw;
    }
}
.banners__header {
    //height : 86px;
    padding : 38px 0 0 1px;
}
.banners__accordion {
    margin-bottom : 4px;
}
.banners__accordion_txt {
    @extend .news__txt;
    @include transition('all', .2s, ease);
    height : 0;
    margin : 0;
    overflow : hidden;
    padding : 0 0 0 37px;
}
.banners__accordion_act .banners__accordion_txt {
    @include transition('all', .2s, ease);
    height: 133px;
    padding: 26px 7px 0 37px;
}
.banners__accordion_act .banners__accordion_header {
    background-color : #f4b60d;
    border : 0;
    &::before {
        display : none;
    }
    &::after {
        display : inherit;
    }
}
.banners__accordion_header {
    @include transition('background-color', .2s, ease);
    background-color : #fff;
    border : 1px solid #e8e8e8;
    cursor : pointer;
    height : 39px;
    padding : 0 0 0 43px;
    position : relative;
    &::before {
        content : '\FF0B';
        left : 13px;
        position : absolute;
        top : 11px;
    }
    &::after {
        color : #fff;
        content : '\23BB';
        display : none;
        font-size : 20px;
        left : 15px;
        position : absolute;
        top : 9px;
    }
    &:hover {
        @include transition('background-color', .2s, ease);
        background-color : #f4b60d;
    }
}
.banners__accordion_name {
    font-size : 13px;
    height : 39px;
    line-height : 39px;
    margin : 0;
    padding-left : 10px;
}

//Brands
.wrapper__brands {
    @extend .wrapper;
}
.brands {
    @extend .wrapper;
    padding : 82px 0 81px 0;
    width : 1160px;
    @include mq($until: custom1160) {
        padding : 2vh 0;
        width : 74vw;
    }
    @include mq($until: tablet) {
        width : 83vw;
    }
    @include mq($until: smartphone) {
        width : 69vw;
    }

}
.brands__item {
    display : inline-block;
    margin : 0 44px;
    &:first-child {
        margin-left : 23px;
    }
    &:last-child {
        margin-right : 0;
    }
    @include mq($until: custom1160) {
        margin : 0 2vw;
        &:first-child {
            margin-left : 0;
        }
        &:last-child {
            margin-right : 0;
        }
    }
    @include mq($until: tablet) {
        margin : 5vw 7vw;
        &:first-child {
            margin-left : 7vw;
        }
        &:last-child {
            margin-right : 0;
        }
    }
}
.brands__img {
    opacity : .5;
    &:hover {
        opacity : .9;
    }
    vertical-align : middle;
    @include mq(tablet, custom1160) {
        width : 8.3vw;
    }
    @include mq(smartphone, tablet) {
        width : 13vw;
    }
    @include mq($until: smartphone) {
        width : 18vw;
    }
}
.brands__link {
    line-height : 64px;
}

//Footer
.wrapper__footer {
    @extend .wrapper;
    background-color : #2a2d32;
    margin-top: 11px;
    padding : 42px 0 54px 0;
}
.footer {
    @include mq($until: custom1160) {
        width : 93vw;
    }
}
.footer__box {
    @include box-sizing();
    color : #595b5f;
    display : inline-block;
    width : 22%;
    &:not(:last-child) {
        margin-right : 41px;
    }
    &:hover .footer__menu_link {
        color : #828385;
    }
    @include mq($until: custom1160) {
        width : 22.7%;
        &:not(:last-child) {
            margin-right : 2vw;
        }

    }
    @include mq($until: tablet) {
        display : block;
        width : 70%;
        &:not(:last-child) {
            margin-right : auto;
        }
        margin : 0 auto;
    }
}
.footer__header {
    color : #fff;
    font-size : 16px;
    margin-bottom : 34px;
}
.footer__menu {
    padding : 0;
    &:hover {
        color : #76787a;
    }
}
.footer__menu_item {
    height : 36px;
    list-style-type : none;
    &:not(:last-child) {
        border-bottom : 1px solid #595b5f;
    }
}
.footer__box .footer__menu_link {
    @include font-family(Arial, 13px);
    color         : #6a6c70;
    line-height   : 36px;
    &:hover {
        color : #248cec;
    }
}

//contacts
.wrapper__contacts {
    @extend .wrapper;
    @include clearfix();
    background-color : #35383c;
    padding : 18px 0;
}
.contacts__box {
    color : #626468;
    display : inline-block;
}
.contacts__contacts {
    @include mq($until: tablet) {
        width : 60%;
    }
}
.contacts__copyright {
    @include font-family(Arial, 12px);
    float : right;
    height : 18px;
    line-height : 18px;
    @include mq($until: tablet) {
        margin : 11px 0;
    }
}
.contacts__item {
    @extend .contacts__box;
    @include font-family(Arial, 12px);
    @include mq($until: smartphone) {
        display : block;
    }
}
.contacts__address {
    margin : 0 25px;
    position : relative;
    &::before {
        font-size : 28px;
        @include sprite(geo_loc);
        content : '';
        left : -24px;
        position : absolute;
        top : -8px;
    }
}
.contacts__tel {
    @extend .contacts__address;
    margin : 0 30px;
    &:hover {
        text-decoration : underline;
    }
    &::before {
        @include sprite(phone);
    }
    @include mq($until: tablet) {
        margin : 11px 26px;
    }
}
.contacts__email {
    @extend .contacts__address;
    margin : 0 35px;
    &:hover {
        text-decoration : underline;
    }
    &::before {
        @include sprite(email);
        left: -36px;
        top: -5px;
    }
}
