
$icons: (
    sprite: (width: 2271px, height: 636px, pngPath: '../img/sprites/sprite.png', svgPath: '../img/sprites/sprite.svg'),

    areto: (width: 110px, height: 24px, backgroundX: 0px, backgroundY: 0px),
    btn_gr_0-sm: (width: 90px, height: 36px, backgroundX: -110px, backgroundY: -24px),
    btn_gr_1: (width: 225px, height: 40px, backgroundX: -200px, backgroundY: -60px),
    btn_gr_1_320: (width: 280px, height: 40px, backgroundX: -425px, backgroundY: -100px),
    btn_gr_2-sm: (width: 70px, height: 20px, backgroundX: -705px, backgroundY: -140px),
    btn_gr_3: (width: 192px, height: 40px, backgroundX: -775px, backgroundY: -160px),
    btn_gr_3_320: (width: 280px, height: 40px, backgroundX: -967px, backgroundY: -200px),
    btn_gr_4: (width: 160px, height: 40px, backgroundX: -1247px, backgroundY: -240px),
    btn_gr_4_320: (width: 280px, height: 40px, backgroundX: -1407px, backgroundY: -280px),
    left: (width: 30px, height: 55px, backgroundX: -1687px, backgroundY: -320px),
    logo: (width: 180px, height: 21px, backgroundX: -1717px, backgroundY: -375px),
    logo_red: (width: 180px, height: 21px, backgroundX: -1897px, backgroundY: -396px),
    right: (width: 30px, height: 55px, backgroundX: -2077px, backgroundY: -417px),
    symb_cup: (width: 41px, height: 41px, backgroundX: -2107px, backgroundY: -472px),
    symb_flask: (width: 41px, height: 41px, backgroundX: -2148px, backgroundY: -513px),
    symb_plane: (width: 41px, height: 41px, backgroundX: -2189px, backgroundY: -554px),
    symb_tv: (width: 41px, height: 41px, backgroundX: -2230px, backgroundY: -595px),

);
