@import 'mixins';

//Copyright Alex Tranchenko 2016
body {
    @include box-sizing();
    margin: 0;
    padding: 0;
}
#main {
    margin: 0 auto;
    width: 830px;
}
.article__header {
    font-size: 20px;
    font-weight: 500;
    margin: 7px auto;
    padding-right: 55px;
    text-align: center;
    width: 250px;
}
.article__item {
    display: block;
}
.article__ex {
    margin-left: 10px;
}
.article__ex_0 {
    margin-top: 43px;
}
.article__button {
    background-color: #cfe2f3;
    cursor: pointer;
    display: block;
    font-size: 19px;
    height: 53px;
    margin: 57px auto;
    width: 425px;
}
input {
    margin: 10px;
}
#mW {
    @include box-shadow(1px, 5px, 24px, gray);
    background-color : #fff;
    display : none;
    height : auto;
    left : 50%;
    margin-left : -150px;
    min-height : 300px;
    position : absolute;
    text-align : center;
    top : 30%;
    width : 300px;
}
